<span style="margin: 0 auto;">
<nav>
    {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
                    >&laquo;</a
                    >
                </li>
            {% endif %}
            {% for page in paginator %}
                <li class="page-item"><a class="page-link" href="?page={{ page.number }}">{{ page.number }}</a></li>
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a href="?page={{ page_obj.next_page_number }}" class="page-link"
                    >&raquo;</a
                    >
                </li>

            {% endif %}
        </ul>
    {% endif %}
</nav>
</span>