{% extends 'admin_base.html' %}
{% load static %}

{% block content %}
    <div class="categories_list">
        {#        <button class="new_category">#}
        {#            <a href={% url 'admin_staff:category_create' %}>#}
        {#                новая категория#}
        {#            </a>#}
        {#        </button>#}
        <h1 class="mt-4">Категории</h1>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fa fa-table mr-1"></i>
                Категории
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Название</th>
                            <th>Описание</th>
                            <th>Товары</th>
                            <th>Активна</th>
                            <th>Редактировать</th>
                            <th>Удалить</th>

                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Название</th>
                            <th>Описание</th>
                            <th>Товары</th>
                            <th>Активна</th>
                            <th>Редактировать</th>
                            <th>Удалить</th>

                        </tr>
                        </tfoot>
                        <tbody>
                        {% for category in objects %}
                            <tr {% if not category.is_active %} style="opacity: 0.5;" {% endif %}>
                                <td>{{ category.name }}</td>
                                <td>{{ category.description }}</td>
                                <td><a href="{% url 'admin_staff:products' pk=category.id %}">Товары</a></td>
                                <td>
                                    {% if category.is_active %}
                                        <i class="fa fa-check-circle text-success"></i>
                                    {% else %}
                                        <i class="fa fa-times-circle text-danger"></i>
                                    {% endif %}
                                </td>
                                <td>
                                    <button class="btn btn-warning">
                                        <a class="text-dark" href={% url 'admin_staff:category_update' category.id %}>
                                            Редактировать
                                        </a>
                                    </button>
                                </td>
                                <td class="text-center">
                                    <a href="{% url 'admin_staff:category_delete' category.id %}"
                                            {% if not category.is_active %} class="invisible" {% endif %}>
                                        <i class="fa fa-times-circle text-danger"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer d-flex">
                <a href="{% url 'admin_staff:category_create' %}">
                    <button class="btn btn-success">Создать категорию</button>
                </a>
                {% include 'includes/inc_admin_paginator.html' %}
            </div>
        </div>
{% endblock %}