{% extends 'adminapp/admin_base.html' %}
{% load static %}


{% block content %}
    <div class="category_delete">
        Уверены, что хотите удалить {{ category_to_delete.name }} ?
        <div class="d-flex mt-4">
            <form action="{% url 'admin_staff:category_delete' category_to_delete.pk %}"
                  method="post">
                {% csrf_token %}
                <input class="btn btn-danger" type="submit" value="Удалить">
            </form>
            <button class="btn btn-success " style="margin-left: 10px">
                <a href="{% url 'admin_staff:categories' %}" style="color: #fff;text-decoration: none;">
                    Отмена
                </a>
            </button>
        </div>
    </div>
{% endblock %}