{% extends 'base.html' %}
{% load static %}

{% block header %}
    {% include 'inc_header-menu.html' %}
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="container">
            <div class="row">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Продукт</th>
                        <th scope="col">Количество</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for item in basket %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ item.product.name }} </td>
                            <td>{{ item.quantity }}</td>
                            <th><a href="{% url 'basket:remove' item.pk %}">&Chi;</a></th>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}