{% extends 'base.html' %}

{% load static %}
{% load myfilters %}
{% block header %}
    <div class="container">
        <div class="hero-white">
            {% include 'includes/inc_header-menu.html' %}
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="details">
        <div class="links clearfix">
            {% include 'includes/inc_product-links.html' %}
        </div>

        <div class="row my-5">
            <div class="col-6">
                <div class="slider-product">
                    <img src="{{ hot_product.image|media_folder_products}}" class="w-100">
                </div>
                <div class="slider-control ml-2 my-3">
                    <div class="block">
                        <a href="#"><img style="max-width: 50px" src="{{ hot_product.image|media_folder_products}}" alt=""></a>
                    </div>
                    <div class="block">
                        <a href="#"><img style="max-width: 50px" src="{{ hot_product.image|media_folder_products}}" alt=""></a>
                    </div>
                    <div class="block">
                        <a href="#"><img style="max-width: 50px" src="{{ hot_product.image|media_folder_products}}" alt=""></a>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <h3 class="big-bold">{{ hot_product.name }}</h3>
                <h3 class="red">горячее предложение</h3>
                <p class="price">{{ hot_product.price }} <span>руб</span></p>
                <a href="{% url 'basket:add' hot_product.pk %}" class="red-button">
                    заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </a>
                <div class="description-text">
                    {{ hot_product.description }}
                </div>
            </div>
        </div>
        <h2>
            Категория: {{ category.name }}
        </h2>
        {% include 'includes/inc_paginator.html' %}
        <div class="category-products row">
            {% for product in products %}
                <div class="block w-25 my-3 mx-3">
                    <a href="{% url 'products:product_page' product.pk %}">
                        <img src="{{ product.image|media_folder_products }}" class="w-75" alt="{{ product.short_desc }}">
                    </a>

                    <a href="{% url 'basket:add' product.pk %}">
                        <div class="text">
                            <img src="{% static 'img/icon-hover.png' %}" alt="hover">
                            <h4>{{ product.name }}</h4>
                            <p>{{ product.description }} </p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>

    </div>

{% endblock %}