{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}

        {% endblock %}
    </title>
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">
    {% endblock %}
</head>
<body>
<div class="container">
    {% block header %}

    {% endblock %}

    {% block content %}
    {% endblock %}
    <div class="clr"></div>
</div>
{% include 'inc_footer.html' %}
</body>
</html>